# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.png
*.properties
*.iml
*.info
*.txt
/2.JavaCore/src/com/javarush/task/task13/task1318/file
/out/
/out/production/2.JavaCore/com/javarush/task/task11/task1103/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1104/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1105/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1106/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1107/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1108/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1109/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1110/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1111/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1112/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1113/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1114/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1115/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1116/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1117/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1118/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1119/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1120/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1121/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1122/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task11/task1123/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1201/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1202/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1203/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1204/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1205/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1206/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1207/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1208/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1209/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1210/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1214/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1215/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1216/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1217/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1218/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1219/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1220/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1221/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1222/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1223/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1224/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1225/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1226/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task12/task1233/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1301/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1302/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1303/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1304/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1305/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1306/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1307/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1308/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1309/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1310/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1311/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1312/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1313/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1314/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1315/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1316/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1317/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1318/file
/out/production/2.JavaCore/com/javarush/task/task13/task1318/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1319/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1320/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1321/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1322/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1323/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1324/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1325/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1326/numbers
/out/production/2.JavaCore/com/javarush/task/task13/task1326/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1327/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task13/task1328/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1401/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1402/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1403/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1404/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1405/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1406/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1407/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1408/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1409/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1410/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1411/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1412/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1413/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1414/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1415/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1416/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1417/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1418/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1419/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1420/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task14/task1421/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1501/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1502/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1503/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1504/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1505/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1506/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1507/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1508/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1509/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1510/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1511/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1512/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1513/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1514/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1515/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1516/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1517/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1518/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1519/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1520/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1521/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1522/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1523/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1524/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1525/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1526/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1527/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1528/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1529/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1530/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task15/task1531/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1601/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1602/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1603/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1604/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1605/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1606/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1607/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1608/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1609/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1610/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1611/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1612/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1613/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1614/Условие.jrtc
/out/production/2.JavaCore/com/javarush/task/task16/task1615/Условие.jrtc
